<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GSSLab Neurospa</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.css' %}">
</head>
<body onload="redirect()">
<div class="row">
    <div class="col align-self-center">
        <h1>
            <p class="text-center">
                Hello, World!
            </p>
        </h1>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    function redirect()
    {
        windows.open("https://www.google.ca");
        windows.open("webrun:C:\\Windows\\notepad.exe");
        windows.open("/polls");
    }



</script>
